MarketGame/Client/Service References/Market/PublicMarketService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicMarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MarketAPI/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MarketAPI/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MarketAPI/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MarketAPI/?xsd=xsd3" namespace="http://escience.ifmo.ru/study/wcfmarketgame" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicMarketService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_ActivateMeAt_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateMeAt" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_ActivateMeAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateMeAtResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_Craft_InputMessage">
    <wsdl:part name="parameters" element="tns:Craft" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_Craft_OutputMessage">
    <wsdl:part name="parameters" element="tns:CraftResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_GetMyResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyResources" />
  </wsdl:message>
  <wsdl:message name="IPublicMarketService_GetMyResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyResourcesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicMarketService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicMarketService/Ping" message="tns:IPublicMarketService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicMarketService/PingResponse" message="tns:IPublicMarketService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateMeAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicMarketService/ActivateMeAt" message="tns:IPublicMarketService_ActivateMeAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicMarketService/ActivateMeAtResponse" message="tns:IPublicMarketService_ActivateMeAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Craft">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicMarketService/Craft" message="tns:IPublicMarketService_Craft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicMarketService/CraftResponse" message="tns:IPublicMarketService_Craft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicMarketService/GetMyResources" message="tns:IPublicMarketService_GetMyResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicMarketService/GetMyResourcesResponse" message="tns:IPublicMarketService_GetMyResources_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPublicMarketService" type="tns:IPublicMarketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IPublicMarketService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateMeAt">
      <soap:operation soapAction="http://tempuri.org/IPublicMarketService/ActivateMeAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Craft">
      <soap:operation soapAction="http://tempuri.org/IPublicMarketService/Craft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyResources">
      <soap:operation soapAction="http://tempuri.org/IPublicMarketService/GetMyResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicMarketService">
    <wsdl:port name="BasicHttpBinding_IPublicMarketService" binding="tns:BasicHttpBinding_IPublicMarketService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/MarketAPI/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>